DOMAIN_NAME=julcleme.42.fr

MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=wpuserPassWord
MYSQL_ROOT_PASSWORD=mysqlRootPwD1234

WP_TITLE=inception
WP_ADMIN_USER=superuser
WP_ADMIN_PASSWORD=strongpass
WP_ADMIN_EMAIL=julcleme@student.42.fr

WP_USER=user
WP_USER_PASSWORD=userpass
WP_USER_EMAIL=user@42.fr

FTP_USER=ftpuser
FTP_PASSWORD=ftpPassword